h1 {
    text-align: center;
    font-family: "Book Antiqua";
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
}

.container {
    margin: 10px;
}

.mybuttons {
    border-left: 100px;
    border-right: 20px;
}

.col-xs-4 {
    min-width: 0;
    width: auto;
    display: inline;
}

#selectMazeEx {
    width: 35%;
}

table {
    margin: 40px;
}

h3 {
    margin-top: 40px;
    margin: 40px;
}

#tableALgo {
    margin-top: 40px;
    margin: 40px;
}

body {
    background-image: url("img/dot-grid.png");
    background-repeat: repeat;
}