h1 {
    text-align: center;
    font-family: "Book Antiqua";
    font-size: 200px;
    font-weight: bold;
}

select {
    border-left: 100px;
    border-right: 20px;
}

button {
    border-left: 100px;
    border-right: 20px;
}

